.body {
    overflow-x: hidden;
}

.first_row {
    background-color: mintcream;
}

.second_row {
    background-color: mintcream;
    height: 500px;
}

.second_text {
    font-size: 54px;
}

.second_input {
    width: 400px;
    height: 50px;
    border-radius: 0px;
    border: none;
}

.first_button {
    width: 100px;
    height: 40px;
    margin-right: 5px;
    border-radius: 0px;
    border-color: mintcream;
    color: black;
    font-size: medium;
}

.second_button {
    width: 100px;
    height: 40px;
    border-radius: 0px;
    background-color: whitesmoke;
    color: black;
    border-color: silver;
    font-size: medium;
}

.imgs {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.forth_text {
    font-size: 40px;
}

.number {
    background-color: blue;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.cards {
    background-color: lightgoldenrodyellow;
    padding-top: 40px;
}

.tenth_row {
    margin-top: 120px;
}

.eleventh_row {
    margin-top: 50px;
}

.footers {
    color: gray;
}

.ten_text {
    color: darkslategrey;
}

h6 {
    font-size: 12px;
}

.ten_button {
    font-size: 20px;
    color: white;
}

.ten_submit {
    height: 55px;
    width: 75px;
    margin-top: 5px;
    background-color: blue;
    border: none;
}

.social {
    margin-left: 7px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid green;
    padding: 5px;
    color: green;
}

.face_social {
    margin-left: 7px;
    border-radius: 50px;
    background-color: green;
    border: 1px solid green;
    padding: 5px;
    color: white;
}

.envelop {
    font-size: 50px;
    padding-right: 10px;
    color: lightpink;
    /* border-color: black; */
}

.circle {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background-color: blue;
    margin-left: 30px;
    margin-top: -18px;
    position: relative;
}

.envelop_circle {
    position: relative;
}

.icons {
    margin-left: 15px;
}

.nineth_button {
    width: 350px;
    border-radius: 0px;
}

.line {
    width: 350px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.line_bottom {
    width: 350px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

.find_out {
    border-radius: 0px;
}

.eighth_text {
    margin-top: 200px;
}

.eighth_img {
    margin-bottom: 10px;
}

.seventh_button,
.sixth_button {
    border-radius: 0px;
    width: 150px;
}

.rec_main {
    width: 550px;
    height: 400px;
    background-color: lightgray;
    position: relative;
}

.circle_main {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: blue;
    position: absolute;
    margin-top: -75px;
}

.rec1_main {
    width: 250px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    margin-left: 350px;
    margin-top: -50px;
}

.rec0_main {
    width: 250px;
    height: 100px;
    background-color: lightgray;
    border: 2px dashed black;
    margin-left: 160px;
    margin-top: 80px;
}

.rec2_mian {
    width: 350px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    margin-left: 300px;
    margin-top: 50px;
}

.plus_circle {
    font-size: 30px;
    color: green;
    padding-right: 10px;
}

.add_more {
    padding: 30px;
}

.add_image {
    font-size: 50px;
    padding-top: 25px;
}

.drag {
    padding-top: 20px;
    padding-left: 15px;
}

.seventh_left {
    margin-left: 90px;
    margin-top: 60px;
}